<div class="fold">
{% for asset in page.assets %}
  {% if asset is matching("[.](jpg|png|PNG|JPG|jpeg|JPEG)$") %}
      <a href="{{ get_url(path=asset) }}">
        <img src="{{ resize_image(path=asset, width=400, height=320, op="fill") }}" />
      </a>
    &ensp;
  {% endif %}
{% endfor %}
</div>
