<div> 
	{# url-parameter dnt=1 means do-not-track this disables cookies#}
    <iframe src="https://player.vimeo.com/video/{{id}}?embedded=true&autoplay=0&loop=0&autopause=0&dnt=1"
	    title="{{title | default(value='Vimeo') }}" 
	    webkitallowfullscreen 
	    mozallowfullscreen 
	    allowfullscreen>
    </iframe>
</div>
