{% extends "base.html" %}

{% import "_macros.html" as macros %}

{% block htmltitle %}
    404 - Not found
{% endblock htmltitle %}

{% block hero %}
  <div class="text-center pos-absolute">
  <h1>Not found!</h1>
  <h2>
    Oops, looks like this content is not available.
  </h2>
  </div>
{% endblock hero %}

{% block body %}{% endblock body %}
