{% extends "page.html" %}
{% block title %}{{ section.title }}{% endblock title %}
{% block head %}
    <style>
        @media screen and (prefers-color-scheme: dark) {
            :root {
            }
        }
    </style>
    <link rel="stylesheet" href="{{ config.base_url }}/aviator.css">
    {{ macros::leaflet_head() }}
{% endblock head %}
{% block toc %}{% endblock toc %}
{% block header%}
  <header class="box-shadow">
    {{ macros::render_header() }}
  </header>
    {{ macros::leaflet_map() }}
{% endblock header%}

{% block main %}
    <h1>{{ section.description }}</h1>
 <!-- wrap -->
    <div class="wrap">
        {% for current in section.pages | sort(attribute="title") %}
          <div class="card">
            <img src="{{ macros::get_bike_image(bike_page=current, width=256, height=256) }}" class="card__thumbnail">
            <a href="{{ config.base_url }}{{ current.path }}" class="card__text">
                <h3 class="card__text__title">{{ current.title }}</h3>
                <p class="card__text__description">{{ current.description }}</p>
                <hr style="width:10px; color:white">
                {# loop through all the properties and plot position if available #}
                {% for prop in current.extra.properties %}
	        {% if prop.name | slugify == "standort" %}
                  	  <p class="card__text__description">{{ prop.entry | title }}</p>
                    {% endif %}
                {% endfor %}
            </a>
          </div>
        {% endfor %}
    </div>
{% endblock main %}

