{% import "_macros.html" as macros %}
{% extends "index.html" %}

{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}

{% block header %}
  <header class="box-shadow">
      {{ macros::render_header() }}
  </header>
{% endblock header %}

{% block content %}
<div class='post-header'>
  {% if page.extra.image and not page.extra.hidetitle %}
    <img src="{{ resize_image(path=[current_path, page.extra.image] | join | trim_start_matches(pat="/"), width=900, op="fit_width") }}"/>
  {% endif %}
  <div class="titlebox">
  {% if page.title and not page.extra.hidetitle %}
    <h1>{{ page.title }}</h1>
    <time class="text" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S") }}">
      {{ page.date | date(format="%d %B %Y") }}
    </time>
  {% elif not page.extra.hidetitle %}
  <div class="titlebox" style="position: relative">
    <h1>{{ page.title }}</h1>
    <time class="text" datetime="{{ page.date | date(format="%Y-%m-%dT%H:%M:%S") }}">
      {{ page.date | date(format="%d %B %Y") }}
    </time>
  {% endif %}
  </div>
</div>
  {% if page.description %}
    <div class="heading-text">{{ page.description }}</div>
  {% endif %}
  {{ page.content | safe }}
{% endblock content %}
